.section__markings{
    margin-bottom: 5vmax !important;
}
.scale {
    height: 350px;
    gap: .6rem;
    }
  
  .scale__line {
      width: 0.45rem;
      height: 0.07rem;
    background-color: var(--white-main);
  }
  
  .scale__line:nth-child(3) {
    width: 1.5rem;
  }
  
  .product__quantity {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
    background-color: rgb(55,136,221);
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
  }
  
  .litres {
    font-size: var(--subheading-size);
    margin-bottom: -0.1rem;
  }
  
  .product__quantity p {
    font-size: var(--small-text-size);
  }
  

  .product__quantity-bottom{
    width: 100% !important;
    padding: 0% !important;
    margin: 0% !important;
    height: 50px;
    background-color: rgb(40,98,179);
  }